.smoothed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.wallpaper {
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    background-image: url(Public/neonflames.png);
    background-size: cover;
}
.player-container {
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0px 20px;
    text-align: center;
    width: 280px;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:20px;
}
button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    /* padding: 10px 20px; */
    margin: 5px;
    font-size: 16px;
}
.ctrls {
    backdrop-filter: blur(10px);
    border-radius: 50%;
    color: white;
}
.ctrls:hover {
    stroke: #f89ab9;
}
#muteButton {
    color: white;
}

.title {
    color: white;
    font-size: 25px;
    margin: 20px;
    font-style: italic;
}